In [14]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [15]:
dataset = pd.read_csv('dataset2.csv')
dataset.head(10)

   Col1       Col2  Col3    Col4  Col5   Col6               Class
0     6  Chevrolet    31    Male   679  76960                Rich
1     8        BMW    51    Male   883  89304                Rich
2     7      Honda    45    Male   911  77018  Upper Middle Class
3     8        BMW    59  Female  1675  26160        Middle Class
4    10  Chevrolet    44    Male  1040  82055        Middle Class
5     4      Honda    19  Female   861  20755        Middle Class
6    10     Toyota    45    Male  1393  83281  Upper Middle Class
7     6      Honda    37  Female  1159  39451                Rich
8     4      Honda    81    Male   789  87498  Upper Middle Class
9    10     Toyota    39  Female  1794  62164  Upper Middle Class

In [16]:
X = dataset.iloc[:,:6].values
y = dataset.iloc[:,6].values

In [17]:
labelencoder_X=LabelEncoder()
z = X.iloc[:,1:2]  
X.iloc[:,1:2] = labelencoder_X.fit_transform(z.values.ravel())

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'